site_name: Container Platform Utrecht University
theme:
  logo: images/cm_hs_avatar_corporate.png
  name: material
  custom_dir: overrides
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - toc.follow
    - navigation.path
    - navigation.top
    - navigation.left
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.select
    - content.code.annotation
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to Dark Mode
      primary: custom
      accent: blue
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to Light Mode
      primary: custom
      accent: blue
  plugins:
    - privacy:
        links_attr_map:
          target: _blank
    - mkdocs-macro
    - mkdocs-video:
        is_video: True
        video_muted: True
        video_controls: True
        video_type: mp4
        css_style:
          width: "50%"
  extra:
    social:
      - type: fontawesome/brands/github-alt
        link: https://github.com/UtrechtUniversity
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
extra_css:
  - stylesheets/extra.css

copyright: |
  &copy; 2025 <a href="https://uu.nl" target="_blank" rel="noopener"><Utrecht University. All rights reserved></a>

nav:
  - Welcome: index.md
  - Getting Started:
      - Login to the container platform: content/basics/login.md
      - Basic commands: content/basics/basic-commands.md
  - Guides:
      Deployments:
        - Deployments Introduction: content/guides/deployments-introduction.md
        - Deploy sample application: content/guides/deploy-a-sample-app.md
        - Deploy WordPress application: content/guides/wordpress-example-app.md
        - Deploy Apache rootless: content/guides/apache-nonroot.md
        - Deploy with ServiceAccount: content/guides/deploy-using-a-serviceaccount.md
        - Deploy with Ansible: content/guides/deployment-with-ansible.md
        - Deploy with ArgoCD: content/guides/managed-deployment-with-argocd.md
        - Deploy single page webapp shared volume: content/guides/single-page-webapp-shared_volume.md
        - Deploy Artifactory Helm chart: content/guides/deploy-artifactory-chart.md
        - Seal your secrets: content/guides/seal-your-secrets.md
      Loadbalancer:
        - LoadBalancer Introduction: content/guides/loadbalancer-intro.md
        - LoadBalancer Edge termination: content/guides/loadbalancer-edge.md
        - LoadBalancer Passthrough: content/guides/loadbalancer-passthrough.md
        - LoadBalancer Allowlist/Blacklist: content/guides/loadbalancer-white-black-list.md
        - LoadBalancer XForwardFor: content/guides/loadbalancer-xforwardfor.md
        - LoadBalancer Migration: content/guides/loadbalancer-migration.md
        - LoadBalancer Configuration GUI: content/guides/loadbalancer-ingress-gui.md
      Registry:
        - Access image registry: content/guides/access-registry.md
      Certificate:
        - Request a managed TLS certificate for your application: content/guides/request-tls-certificate.md
      Database:
        - CloudNativePG PostgreSQL: content/guides/cloudnativepg-operator.md
      Storage:
        - NetApp storage: content/guides/netapp-storage.md
        - Postgres with NetApp storage: content/guides/postgresql-on-openshift-netapp-storage.md
      Mail:
        - Send mail from your application: content/guides/send-email-from-your-application.md
  - Reference:
      - Overview: content/references/reference.md
  - FAQ: faq.md

markdown_extensions:
  - admonition
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
